@import url("https://fonts.googleapis.com/css?family=Roboto:100,400,700");

body,
html {
  font-family: "Roboto", sans-serif;
  /*background-color: #cddade;*/
  height: 100%;
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

#toolbar {
  width: 100%;
  background-color: #B8C7C4;
  padding: 4px;
  padding-bottom: 6px;
  filter: drop-shadow(3px 0px 3px grey);
}
